
# Flutter / Dart
.dart_tool/
.dart_tool.zip
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Platform build outputs
android/.gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Firebase
.firebase/
